/* color palette:
navy: #040650
gold: #f1a91f
*/



body {
    background-image: url("/img/symphony.png");
    color: #040650;
    font-family: 'Open Sans', sans-serif;
}

.container {
    width: 80%;
    margin: auto;
    background-color: #f3f3f3;
    padding: 25px;
    clear: both;
}

header {
    margin-top: 50px;
    background-color: #f1a91f;
    padding: 25px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

h1, h2 {
    color: #040650;
    text-align: center;
}

h2 {
    font-weight: 200;
}

h3 {
    text-align: center;
    color: #f1a91f;
}

ul {
    list-style: none
}

li {
    text-align: left;
}

a:link, a:visited {
    color:#040650;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.linkstohw {
    clear: both;
}

.week {
    width: 200px;
    border: 3px solid #040650;
    background-color: white;
    padding: 5px;
    float: left;
    margin: 30px;
}


main > img {
    display: block;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid #040650;
}

footer {
    text-align: center;
    background-color: #f1a91f;
    color: #040650;
    padding: 10px;
    width: 82.5%;
    margin:auto;
    clear: both;
}

.self_clear:after {
  content: "";
  clear: both;
  display: table;
}