body {
    font-family: 'Open Sans', sans-serif;
}

header {
    background-image: url('../img/sky-night-space-galaxy.jpeg');
    background-size: cover;
    padding: 150px 0;
    width: 100%;
}

main {
    width: 90%;
    margin: auto;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.linkstohw {
    display: flex;
    flex-flow: row wrap;
    flex: 1;
    justify-content: center;
    margin: 50px 0;
}

h1,
h2 {
    color: white;
    text-align: center;
    text-shadow: 2px 2px 2px #333;
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 1.25em;
    font-weight: 200;
    margin-top: 20px;
}


.week {
    background-color: #eee;
    margin: 1%;
    padding: 2%;
    width: 250px;
    min-height: 200px;
}


div > h3 {
    text-align: center;
    color: #f1a91f;
    margin-bottom: 10px;
    font-family: 'Merriweather', serif;
    font-size: 1.5em;
}

ul {
    list-style: none
}

li {
    text-align: left;
}

ul li a:link,
a:visited {
    color: #040650;
    text-decoration: none;
    line-height: 1.8em;
}

ul li a:hover {
    text-decoration: underline;
}

footer {
    background-image: url('../img/sky-night-space-galaxy.jpeg');
    background-size: cover;
    padding: 50px 0;
    width: 100%;
    color: white;
    padding: 20px;
    text-align: center;
}

.currenthw {
background: #aaa;
padding: 3%;
    border: 1px solid #aaa;
    display: block;
}

.currenthw a, .currenthw a:hover {
    color: white;
}
