/* color palette:
navy: #040650
gold: #f1a91f
*/

body,
html {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("/AustinCodingAcademy_Spring2016/extraPracticeProjects/ashleySmith/img/forest.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Open Sans', sans-serif;
    padding-top: 50px;
}

.container {
    width: 84.5%;
    margin: auto;
    padding: 0px;
    clear: both;
}

h1,
h2 {
    color: white;
    text-align: center;
    text-shadow: 2px 2px 2px #333;
}

h2 {
    font-weight: 200;
}

div > h3 {
    text-align: center;
    border-bottom: 2px solid #f1a91f;
    color: #f1a91f;
    margin-bottom: 10px;
}

ul {
    list-style: none
}

li {
    text-align: left;
}

ul li a:link,
a:visited {
    color: #040650;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.linkstohw {
    clear: both;
}

.week {
    width: 200px;
    height: 200px;
    border: 3px solid #040650;
    background-color: white;
    padding: 20px;
    float: left;
    margin: 20px;
}

main > img {
    display: block;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid #040650;
}

footer {
    text-align: center;
    color: white;
    text-shadow: 2px 2px 5px black;
    padding: 10px;
    width: 100;
    margin: auto;
    clear: both;
}

aside {
    width: 20%;
    float: right;
    background-color: #040650;
    color: white;
    padding: 2.5%;
    height: 1000px;
    text-align: right;
}

aside li a:link,
aside li a:visited {
    color: #f1a91f;
    text-decoration: none;
    text-align: right;
}

aside ul {
    display: inline-block;
    color: #f1a91f;
    text-decoration: none;
    text-align: right;
}

.self_clear:after {
    content: "";
    clear: both;
    display: table;
}