.img_placeholder {
    width: 45%;
    height: 150px;
    background-color: orange;
    float: right;
}

footer {
    background-color: seagreen;
    padding: 10px;
    text-align: center;
    color: white;
}

.rubicks {
    width: 30%;
    float: right;
}