/* CSS RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* sexytext */
body {
-webkit-font-smoothing: antialiased;
text-rendering: optimizelegibility;
}

.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
}

/* COLORS 
red: #ee2824
purple: #44165f
skin: #fedf79
*/


/* MAIN CSS */

.navbar-default {
  background: none;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid rgba(255,255,255,.3);
}

#my_nav a {
    color: white;
    font-family: 'Playfair Display', serif;
    text-transform: lowercase;
    font-size: 1.15em;
}

.navbar-brand {
    font-size: 2em;
}

#my_nav a:hover {
    color:#fedf79;
}

#bs-example-navbar-collapse-1, .navbar-brand {
    background-color: #44165f;
}



.jumbotron {
    background-image: url(../img/rosie-code.jpg);
    background-size: cover;
    padding: 220px 0;
    margin-top: -80px;
}

.logo {
    width: 360px;
    margin: 0;
    padding: 0;
}

/* About Me */

.about_me {
    background-color: #ee2824;
    padding: 50px 0;
    margin-top: -30px;
    color: white;
}

.about_me a, h2 {
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
}
.about_me span {
    font-size: 2.75em;
}

.about_me a:hover {
    color: #44165f;
    text-decoration: none;
    
}

.about_me p {
    line-height: 1.5em;
}




/* SKILLS-PARALLAX */

.skills_section {
    margin: 20px 0;
    color: white;
}

#skills h2 {
    margin-top: 30px;
    margin-bottom: 15px;
    font-family: 'Playfair Display', serif;
    font-size: 2.5em;
    color: white;
}
 
/* Gradient color1 - color2 - color1 */

.line_break{
    width:90%;
    color: white;
    border: none;
    border-bottom: 1.5px solid white;
    margin-top: 25px;
}

#skills, .footer {
    background-color: #44165f;
}

#skills a {
    text-decoration: none;
    color: white;
}

#skills h3 {
    font-size: 1.5em;
    font-family: 'Open Sans', sans-serif;
    margin-top: -20px;
}

#skills p {
    line-height: 1.5em;
}

/* jobs quote */

.content-space-one {
  padding: 0px;
  margin-bottom: 0px;
  color: white;
  background: url(../img/fullsailor-code.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 100px;
  padding-bottom: 100px;
    line-height: 1.8em;
}

.content-space-one p, .content-space-two p {
    text-align: center;
    font-size: 1.2em;
    line-height: 2em;
}


.content-space-two {
  padding: 0px;
  margin-bottom: 0px;
  color: white;
  background: url(../img/rosie-code.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 300px;
  padding-bottom: 300px;
    line-height: 1.8em;
}


/* work section */

#work {
    background-color: #ee2824;
    color: white;
    padding-bottom: 20px;
}

#work h2 {
    font-family: 'Playfair Display', serif;
    font-size: 2.5em;
    margin-top: 20px;
}

#work h3, #work p, #work a {
    color: white;
    line-height: 1.5em;
}

#work h3 {
    font-size: 1.25em;
    text-transform: uppercase;
}
#work img {
    width: 100%;
    outline: 3px solid white;
    margin-top: 10px;
}

/* footer */

.footer {
    padding: 20px 0;
    color: white;
    font-size: 1.2em;
}