html, body {
    overflow-x: hidden;
    font-family: "Helvetica", sans-serif;
    font-weight: lighter;
}
.full-width-bar {
  margin: 0 -9999rem;
  /* add back negative margin value */
  padding: 0.25rem 9999rem;
  background-color: #333;
}

header {
    width: 90%;
    margin: auto;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: left;
    padding: 14px 20px;
    text-decoration: none;
}

.container {
    width: 90%;
    margin: auto;
}

.company {
    background-color: rgb(99,163,92);
    float: left;
}

.employee {
    background-color: rgb(51,51,51);
    float: right;
}

.company, .employee {
    padding: 5%;
    color: white;
    width: 40%;
    margin-top: 20px;
}

button {
    color: white;
    font-size: 1em;
    padding: 10px;
    border: 3px solid white;
    float: right;
}

.employeebutton {
    background-color: rgb(51,51,51);
}

.companybutton {
    background-color: rgb(99,163,92);
}
