/* color pallette
darker blue: #0D6889
red: #DC2026
yellow: #EFC818
ligher blue: #01AED5
*/
.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
}


body {
    font-family: 'Open Sans', sans-serif;
}

.stripes {
    background-image: url('../img/header-05.png');
    background-repeat: repeat-x;
    padding: 19px;
    margin-bottom: 10px;
}

nav h1 {
    font-size: 3em;
    font-weight: 300;
    color: #0D6889;
    float: left;
    margin-left: 20px;
}

nav ul {
    float: right;    
}

nav ul li {
    display: inline-block;
    margin: 52px 20px 0 0;
    font-size: 1em;
}

nav ul li a:hover {
    text-decoration: none;
    color: #01AED5;
}

.active {
    text-decoration: none;
    color: #DC2026;
}

.feature {
    background-image:url(../img/apple-desk-crop.jpg);
    background-size: cover;
    padding: 173px 0;
    text-align: center;
}

.feature h2 {
    color: white;
    font-size: 4em;
    font-weight: bold;
    text-shadow: 2px 2px 2px black;
    margin-bottom: 40px;
}

.feature a {
    background-color: #EFC818;
    color: white;
    padding: 15px 25px;
    border-radius: 5px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: .1em;
    font-size: 1.25em;
}

.feature a:hover {
    background-color: #DC2026;
    transition: all 1s;
}

h3 {
    color: #0D6889;
    font-size: 1.5em;
}

.container {
    display: flex;
}


@media screen and (max-width: 1000px) {
    .container {
        flex-direction: row;
    }
}

@media screen and (max-width: 600px) {
    .container {
        flex-direction: column;
    }
}

.col {
    margin: 20px;
    padding: 10px;
    flex: 1
}


.col p {
    font-size: .9em;
    line-height: 1.8em
}

footer {
    background-color: #EFC818;
    color: white;
    text-align: center;
    padding: 20px;
    
}


/* CONTACT PAGE */

.contactsection {
    background-color: #E8e8ee;
    text-align: center;
    width: 50%;
    margin: auto;
    padding: 5%;
    margin-top: 30px;
}
