/*maroon color: #8e4154*/
/* sexy text*/

body {
-webkit-font-smoothing: antialiased;
text-rendering: optimizelegibility;
}

h1, h2, h3 {
    color: #8e4154;
}

/* navbar */

.navbar-default {
    background-color: #8e4154;
    border-color: transparent;
    padding: 10px 0;
    margin-bottom: 0px;
    position: fixed;
    width: 100%;
    border-radius: 0px;
    z-index: 10007;
}

#bs-example-navbar-collapse-1 li a{
    color: white;
}


/*BUTTONS*/

button.outlinebtn {
    background-color: rgba(142, 65, 84, .8);
    font-family: 'Montserrat', sans-serif;
    font-size: 1.1em;
}

button.outlinebtn:hover {
    background-color: rgb(142, 65, 84);
}

/*carousel ashley*/
h2 {
    font-family: 'Montserrat', sans-serif;
    color: white;
}

.content-block-one {
    padding: 30px;
    margin-bottom: 0px;
    color: inherit;
    background-color: #eee;
}

.content-block-one h1,
.content-block-one .h1 {
    color: inherit;
}

.content-block-one p {
    margin-bottom: 15px;
    font-size: 21px;
    font-weight: 200;
}

.content-block-one > hr {
    border-top-color: #d5d5d5;
}

.container .content-block-one {
    border-radius: 6px;
}

.content-block-one .container {
    max-width: 100%;
}

@media screen and (min-width: 768px) {
    .content-block-one {
        padding-top: 48px;
        padding-bottom: 48px;
    }
    .container .content-block-one {
        padding-right: 60px;
        padding-left: 60px;
    }
    .content-block-one h1,
    .content-block-one .h1 {
        font-size: 63px;
    }
}

.content-space-one {
    padding: 0px;
    margin-bottom: 0px;
    color: inherit;
    background: url(../img/hottub.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-top: 100px;
    padding-bottom: 100px;
}


.page-break {
    width: 50%;
    height: 3px;
    background-color: #fff;
    margin: 0 auto;
}

.navbar-toggle {
    padding: 5px;
}

.navbar-toggle > img {
    width: 22px;
}

#carousel-example-generic {
    max-height: 700px;
    overflow: hidden;
}

.carousel-caption {
    top: 35%;
}

.carousel-caption h2 {
    font-size: 40px;
}


.divider {
    height:50px;
}

section {
    height:500px;
    padding-top:50px;
    padding-bottom:50px;
    overflow:auto;
}



#footer {
    height: 60px;
    background-color:#333;
    text-align: center
    margin-top:50px;
    padding-top:20px;
    padding-bottom:20px;
}

#footer a {
  color:#aaa;
}
