body {
    width: 75%;
    margin: 0 auto;
    font-family: 'Helvetica', 'Arial', sans-serif;
}

header, nav, main, section, aside, footer {
    padding: 5px;
    margin-top: 10px;
    position: relative;
}

section, aside {
    float: left;
}

section {
    width: 70%
}

aside {
    width: 20%;
}

footer {
    clear: both;
    text-align: center;
}

img {
    width: 200px;
}

nav li {
    display: inline;
    margin-right: 20px;
    text-align: left;
    color: #ff0000;
}

nav a {
    text-decoration: none;
    color: #ff0000;
}

header img#logo {
    width: 400px;
}

h1 {
    font-size: 44px;
    color: #ff0000;
}

h2 {
    color: #484f6c;
}

aside h3 {
    color: #484f6c;
}